.vscode/*
.idea/*
*.o
*.exe
examples/*
*.rec
.DS_Store

# build folders
build/*
build-debug/*
build-release/*
debug-build/*
release-build/*

tmp.txt
tmp/*
*/gen_file*
performance/obj
python_perf_tests/*
analysis/*
*.csv
asplos26_examples/*