.vscode/*
.idea/*
*.o
*.exe
examples/simple.qasm
examples/complex.qasm
*.rec

# build folders
build/*
build-debug/*
build-release/*
debug-build/*
release-build/*

tmp.txt
tmp/*
*/gen_file*
performance/obj
python_perf_tests/*
analysis/python-venv
*.csv